#carousel-section{
    height: auto;
    margin-top: 30rem;
    width: 100%;
    /* border: 1px solid green; */
}


.carousel-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    max-width: 33.33%; /* Show three images at a time */
    height: auto;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 9999999;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}
