#slider-section{
  position: absolute;
  top: 40px;
 width: 100%;
  height: 400px;
/* border: 1px solid red; */
}


.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 400px;
  box-shadow: 0px 15px 10px -15px #111;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%; /* 3 times the width for three slides */
  align-items: center;
}

.slide {
  flex: 0 0 33.33%; /* Each slide takes up one-third of the container */
  max-height: 400px;
}

.slide img {
  width: 100%;
  height: auto;
}

.dots {
  text-align: center;
  margin-top: -30px;
  z-index: 999999;

}

.dot {
  z-index: 999999;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background-color:lightgray;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  
  width: 8px;
  height: 8px;
  z-index: 999999;
  background-color: #f1efef;
}

.slider-content{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Use transform to center the element */
  z-index: 99963;
  /* border: 1px solid red; */

}

.slider-content h1{
  font-size: 35px;
  

}

.slider-content p{
  font-weight: 500;
  font-size: 14px;


}

.ShopNow{
  width: 170px;
  color: white;
  background-color: black;
  padding: 1rem;
  font-weight: 800;
  font-size: 13px;
}