*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    list-style: none;
    position: relative;
}

input:focus{
  outline: none;
  
}


#discount-bar{
    color: white;
    font-size: 12px;
    height: 40px;
    width: 100%;
    background-color: rgb(152,168,141);
}

li{
    font-size: 13px;
}
#navbar{
width: 100%;
    overflow: hidden;
    z-index: 2;
    transition: 0.3s ease-in-out;
    color: white;
    
    /* top:100px; */
    
    padding: 1rem 0rem;
    background: none;
}
#navbar ul{
width: 30%;
/* padding: 1rem; */
font-weight: 600;
justify-content: center;
align-items: center;
display:flex ;

/* border: 1px solid red; */
}



.centerNav{
    width: 100px;
    /* border: 1px solid red; */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    color: black !important;
    background-color: white !important;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

#Essential-Fuel{
    margin-top: 7rem;
    gap: 100px;
}

  .Essential-left{
    width: 30%;
   
    /* border: 1px solid red; */
  }

   .Essential-right{
width: 40%;

/* border: 1px solid red; */
  }

  #plantProtein-text-content{
    display: flex;
  padding: 5rem;
   
    
height: 400px;
width: 40%;
/* border :1px solid red; */

  }

  .journalCards{
    width: 30%;
  }

  .anchor{
    font-size: 10px;
    color: black;
    
  }