/* utilities classes */
.flex{
    display: flex;  
  }
  .jcc{ 
    justify-content: center;
  }
  
  .jcsb{
    justify-content: space-between;
  }
  .jcsa{
    justify-content: space-around;
  }
  .aic{
    align-items: center;
  
  }
  button{
    background: none;
  border: none;  
  }
  .fs-20{
    font-size: 20px;
  }
  .fwb{
    font-weight: bold;
  }
  .fd-row{
    flex-direction: row;
  }
  .fd-col{
    flex-direction: column;
  }
  .w-100{
    width: 100%;
  }
  .h-100{
    height: 100%;
  }
  .w-80{
    width: 80%;
  }
  
  .w-90{
    width: 90%;
  }
  .ml-20{
    margin-left: 20px;
  }
  .mr-20{
    margin-left: 20px;
  }
  .mt-20{
    margin-top: 20px;
  }
  .mb-20{
    margin-bottom: 20px;
  }

  .g-20{
    gap: 20px;
  }
  .g-1{
gap: 1rem;
  }
  .g-3{
    gap: 3rem;
  }
  .fs-12{
    /* word-spacing: 10px; */
    font-size: 12px;
  }